*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
.cus-div{
    width: 100%;
    position: relative;
}
#header{
    width: 100%;
    z-index: 10;
}
.Background{
    width: 100%;
}
#Bend{
    width: 100%;
    height: 100%;
    bottom: 0;
    background: #fff;
    z-index: 9;
    
}
#News{
    background: #c2c2c2;
    z-index: 8;
}
#Gallery{
    background: #fff;
    z-index: 7;
}
#InConcert{
    background: #fff;
    z-index: 6;
}
#AudioGallery{
    color: #fff;
    z-index: 5;
}
#Footer{
    background: #060c21;
    color: goldenrod;
    z-index: 4;
}
.cus-div:after{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    bottom: 0;
    content: '';
}
#AudioGallery:after{
    transform-origin: left top;
    transform: skewY(-3deg);
    background: #060c21;
}
#InConcert:after{
    transform-origin: left bottom;
    transform: skewY(-3deg);
}
#Gallery:after{
    transform-origin: left bottom;
    transform: skewY(3deg);
    background: #060c21;
}

#News:after{
    transform-origin: right bottom;
    transform: skewY(-3deg);
}
.content{
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    padding: 200px 50px;
    height: auto;
    display: block;
}
